@model IEnumerable<Pagina_Web_Delosi.Models.Servidores_Total>

@{
    ViewBag.Title = "IndexServidor_List_Caracteristicas";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexServidor_List_Caracteristicas</title>
</head>
<body>
    <main>
        <h3 class="text-center">Caracteristicas de Servidores</h3>
        <hr />
        <hr />
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <img src="../Img/icono_menu_2.jpg" style="width: 40px; height: 40px;" />
                    <ul class="navbar-nav ms-4">
                        <li class="nav-item dropdown">
                            <a class="nav-link " role="button" data-bs-toggle="dropdown">
                                @Html.ActionLink("Busque de Servidores", "Index_buscar_servidor_total", "Servidores_Tienda", new { area = "" }, new { @class = "nav-link dropdown-item" })
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " role="button" data-bs-toggle="dropdown">
                                @Html.ActionLink("Datos de tienda", "Index_buscar_servidor_dato_comerciales", "Servidores_Tienda", new { area = "" }, new { @class = "nav-link dropdown-item" })
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " role="button" data-bs-toggle="dropdown">
                                @Html.ActionLink("Datos de La Tienda", "Index_buscar_tienda_total", "Tienda", new { area = "" }, new { @class = "nav-link dropdown-item" })
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br />
        <p>
            @Html.ActionLink("Nuevo", "CreateServidor", null, new { @class = "btn btn-primary" })
        </p>
        <div class="row">
            <table id="tablax" class="table table-bordered table-hover table-condensed mx-auto">
                <thead class="text-center">
                    <tr style="font-size:12px">
                        <th style='background-color: #337ab7; color:white'>
                            @Html.DisplayNameFor(model => model.tienda)
                        </th>
                        <th style='background-color: #337ab7; color:white'>
                            @Html.DisplayNameFor(model => model.modelo)
                        </th>
                        <th style='background-color: #337ab7; color:white'>
                            @Html.DisplayNameFor(model => model.serie)
                        </th>
                        <th style='background-color: #337ab7; color:white'>
                            @Html.DisplayNameFor(model => model.sistema_operativo)
                        </th>
                        <th style='background-color: #337ab7; color:white'>
                            @Html.DisplayNameFor(model => model.version_micros)
                        </th>
                        <th style='background-color: #337ab7; color:white'>
                            @Html.DisplayNameFor(model => model.memoria_ram)
                        </th>
                        <th style='background-color: #337ab7; color:white'>
                            @Html.DisplayNameFor(model => model.tamano_bd)
                        </th>
                        <th style='background-color: #337ab7; color:white'></th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr class="text-center" style="font-size:12px;">
                        <td style="background-color: #dbd1d0; ">
                            @Html.DisplayFor(modelItem => item.tienda)
                        </td>
                        <td style="background-color: #dbd1d0; ">
                            @Html.DisplayFor(modelItem => item.modelo)
                        </td>
                        <td style="background-color: #dbd1d0; ">
                            @Html.DisplayFor(modelItem => item.serie)
                        </td>
                        <td style="background-color: #dbd1d0; ">
                            @Html.DisplayFor(modelItem => item.sistema_operativo)
                        </td>
                        <td style="background-color: #dbd1d0; ">
                            @Html.DisplayFor(modelItem => item.version_micros)
                        </td>
                        <td style="background-color: #dbd1d0; ">
                            @Html.DisplayFor(modelItem => item.memoria_ram)
                        </td>
                        <td style="background-color: #dbd1d0; ">
                            @Html.DisplayFor(modelItem => item.tamano_bd)
                        </td>
                        <td style="background-color: #dbd1d0; font-size:12px;">
                            @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
    <!-- DATATABLES -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
    </script>
    <!-- BOOTSTRAP -->
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
    </script>
    <script src="~/Content/JS/Paginacion.js"></script>
</body>
</html>
