@model IEnumerable<Pagina_Web_Delosi.Models.Servidores_Total>

@{
    ViewBag.Title = "IndexBuscarServidor_Datos_Comerciales";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--  -->
    <!-- Boton de Reportes -->
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet"
          href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" />
    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <!-- DataTable -->
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <!-- Custom CSS -->
    <link href="~/Content/CSS/Style_table.css" rel="stylesheet" />
    <!--  -->
    <title>Datos comerciales de la Tienda</title>
</head>
<body class="hidden">
    <main>
        <h3 class="text-center">Datos comerciales de la Tienda</h3>
        <hr />
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <img src="../Img/icono_menu_2.jpg" style="width: 40px; height: 40px;" />
                    <ul class="navbar-nav ms-4">
                        <li class="nav-item dropdown">
                            <a class="nav-link " role="button" data-bs-toggle="dropdown">
                                @Html.ActionLink("Busque de Servidores", "Index_buscar_servidor_total", "Servidores_Tienda", new { area = "" }, new { @class = "nav-link dropdown-item" })
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " role="button" data-bs-toggle="dropdown">
                                @Html.ActionLink("Datos de tienda", "Index_buscar_servidor_dato_comerciales", "Servidores_Tienda", new { area = "" }, new { @class = "nav-link dropdown-item" })
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " role="button" data-bs-toggle="dropdown">
                                @Html.ActionLink("Datos de La Tienda", "Index_buscar_tienda_total", "Tienda", new { area = "" }, new { @class = "nav-link dropdown-item" })
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br />
        <p>
            @Html.ActionLink("Nuevo", "CreateServidor", null, new { @class = "btn btn-primary" })
        </p>
        <div class="row">
            <table id="tablax" class="table table-bordered table-hover table-condensed mx-auto">
                <thead class="text-center">
                    <tr style="font-size:12px">
                        <th class="text-center" style='background-color: #337ab7; color:white'>
                            @Html.DisplayNameFor(model => model.tienda)
                        </th>
                        <th class="text-center" style='background-color: #337ab7; color:white'>
                            @Html.DisplayNameFor(model => model.version_facturador)
                        </th>
                        <th class="text-center" style='background-color: #337ab7; color:white'>
                            @Html.DisplayNameFor(model => model.usuario_crea)
                        </th>
                        <th class="text-center" style='background-color: #337ab7; color:white'>
                            @Html.DisplayNameFor(model => model.fecha_crea)
                        </th>
                        <th class="text-center" style='background-color: #337ab7; color:white'>Status</th>
                        <th class="text-center" style='background-color: #337ab7; color:white'>Opciones</th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr class="text-center" style="font-size:12px;">
                        <td style="background-color: #dbd1d0;">
                            @Html.DisplayFor(modelItem => item.tienda)
                        </td>
                        <td style="background-color: #dbd1d0;">
                            @Html.DisplayFor(modelItem => item.version_facturador)
                        </td>
                        <td style="background-color: #dbd1d0;">
                            @Html.DisplayFor(modelItem => item.usuario_crea)
                        </td>
                        <td style="background-color: #dbd1d0;">
                            @Html.DisplayFor(modelItem => item.fecha_crea)
                        </td>
                        <td style="background-color: #dbd1d0; "><i class="fa-solid fa-square-check" style="color: green;"></i></td>
                        <td style="background-color: #dbd1d0; font-size:12px;">
                            @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
    <!-- DATATABLES -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
    </script>
    <!-- BOOTSTRAP -->
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
    </script>
    <script src="~/Content/JS/Paginacion.js"></script>
    <!--  -->
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- DataTable -->
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <!-- Columnas Visibility -->
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>
    <!-- Reporte zip -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <!-- Reporte de PDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <!-- Reporte Excel -->
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <!-- Reporte Inpreso -->
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>
    <!--  -->
</body>
</html>