@model IEnumerable<Pagina_Web_Delosi.Models.Servidores_Total>

@{
    ViewBag.Title = "Index_buscar_servidor_total";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Busqueda de Servidores</title>
    <link href="~/Content/CSS/BarraDiv.css" rel="stylesheet" />
    <!---->
    <link href="~/Content/CSS/Boton_Reporte.css" rel="stylesheet" />
    <!--font awesome con CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <main>
        <h2 class="text-center">Registro de Servidores</h2>
        <hr />
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <img src="../Img/icono_menu_2.jpg" style="width: 40px; height: 40px;" />
                    <ul class="navbar-nav ms-4">
                        <li class="nav-item dropdown">
                            <a class="nav-link " role="button" data-bs-toggle="dropdown">
                                @Html.ActionLink("Busque de Servidores", "Index_buscar_servidor_total", "Servidores_Tienda", new { area = "" }, new { @class = "nav-link dropdown-item" })
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " role="button" data-bs-toggle="dropdown">
                                @Html.ActionLink("Datos de tienda", "Index_buscar_servidor_dato_comerciales", "Servidores_Tienda", new { area = "" }, new { @class = "nav-link dropdown-item" })
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link " role="button" data-bs-toggle="dropdown">
                                @Html.ActionLink("Datos de La Tienda", "Index_buscar_tienda_total", "Tienda", new { area = "" }, new { @class = "nav-link dropdown-item" })
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br />
        <p>
            @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary" })
        </p>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead class="text-center">
                                <tr style="font-size:12px">
                                    <th style='background-color: #337ab7; color:white'>
                                        @Html.DisplayNameFor(model => model.cod_marca)
                                    </th>
                                    <th style='background-color: #337ab7; color:white'>
                                        @Html.DisplayNameFor(model => model.cod_tienda)
                                    </th>
                                    <th style='background-color: #337ab7; color:white'>
                                        @Html.DisplayNameFor(model => model.tienda)
                                    </th>
                                    <th style='background-color: #337ab7; color:white'>
                                        @Html.DisplayNameFor(model => model.ip_servidor)
                                    </th>
                                    <th style='background-color: #337ab7; color:white'>
                                        @Html.DisplayNameFor(model => model.nom_servidor)
                                    </th>
                                    <th style='background-color: #337ab7; color:white'></th>
                                </tr>
                            </thead>

                            @foreach (var item in Model)
                            {
                                <tr class="text-center" style="font-size:12px;">
                                    <td style="background-color: #dbd1d0; ">
                                        @Html.DisplayFor(modelItem => item.cod_marca)
                                    </td>
                                    <td style="background-color: #dbd1d0;">
                                        @Html.DisplayFor(modelItem => item.cod_tienda)
                                    </td>
                                    <td style="background-color: #dbd1d0;">
                                        @Html.DisplayFor(modelItem => item.tienda)
                                    </td>
                                    <td style="background-color: #dbd1d0;">
                                        @Html.DisplayFor(modelItem => item.ip_servidor)
                                    </td>
                                    <td style="background-color: #dbd1d0;">
                                        @Html.DisplayFor(modelItem => item.nom_servidor)
                                    </td>
                                    <td style="background-color: #dbd1d0; font-size:12px;">
                                        @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary" })
                                        @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-danger" })
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
                <br />
                <br />

            </div>
            <hr style="height:5px;" />
        </div>
    </main>




    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
    <!-- DATATABLES -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
    </script>
    <!-- BOOTSTRAP -->
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
    </script>

    <script src="~/Content/JS/ExportarDoc.js"></script>
    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="~/Content/JS/jquery-3.3.1.min.js"></script>
    <script src="~/Content/JS/popper.min.js"></script>
    <script src="~/Content/JS/bottons_bootstrap_min.js"></script>
    <!-- datatables JS -->
    <script src="~/Content/JS/datatables.min.js"></script>
</body>
</html>