@model IEnumerable<Pagina_Web_Delosi.Servidores.Servidor>

@{
    ViewBag.Title = "ListadoServidor";
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/CSS/Loaders.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <!--  -->
    <!-- Boton de Reportes -->
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet"
          href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" />
    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <!-- DataTable -->
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <!-- Custom CSS -->
    <!--  -->

    <title>Servidores</title>

</head>
<body>
    <main>
        <h2 class="text-center">Registro de Servidores</h2>
        <hr />
        <div>
            <p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalIngresar">Ingresar</button>
            </p>
        </div>
        @*Html.ActionLink("Ingresar", "CrearServidor")*@
        <table id="tablax" class="table table-bordered table-hover table-condensed mx-auto">
            <thead class="text-center">
                <tr style="font-size:12px">
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.cod_marca)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.cod_tienda)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.tienda)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.ip_servidor)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.nom_servidor)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.modelo)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.serie)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.sistema_operativo)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.version_micros)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.memoria_ram)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.tamano_bd)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.status)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.ultimo_reinicio)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.version_facturador)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.ultima_venta)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.flg_estado)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.usuario_crea)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.fecha_crea)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.usuario_mod)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.fecha_mod)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.idtecnico)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>
                        @Html.DisplayNameFor(model => model.fecha_asignado)
                    </th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>Status</th>
                    <th class="text-center" style='background-color: #337ab7; color:white'>Opciones</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr class="text-center" style="font-size:12px;">
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.cod_marca)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.cod_tienda)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.tienda)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.ip_servidor)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.nom_servidor)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.modelo)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.serie)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.sistema_operativo)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.version_micros)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.memoria_ram)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.tamano_bd)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.ultimo_reinicio)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.version_facturador)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.ultima_venta)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.flg_estado)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.usuario_crea)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.fecha_crea)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.usuario_mod)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.fecha_mod)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.idtecnico)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.fecha_asignado)
                    </td>
                    <td style="background-color: #dbd1d0; ">
                        @Html.DisplayFor(modelItem => item.status)
                    </td>

                    <td style="background-color: #dbd1d0; font-size:12px;">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalActualizar"><i class="bi bi-pencil"></i></button>
                        <button class="btn btn-danger eliminar-servisor" data-id="@item.tienda"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            }

        </table>
        <hr style="height:5px;" />

    </main>

    <!-- Modal Ingresar Datos -->

    <div class="modal fade" id="modalIngresar" tabindex="-1" role="dialog" aria-labelledby="modalIngresarLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="modalIngresarLabel">Ingresar Servidor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Aquí puedes agregar los campos o contenido del formulario para ingresar el servidor -->
                    <!-- Ejemplo: -->
                    <form>
                        <!-- Campos del formulario -->
                        <div class="mb-3">
                            <label for="cod_marca" class="form-label">Código de Marca</label>
                            <select class="form-control" id="cod_marca" name="cod_marca">
                                <option value="-">[Seleccione]</option>
                                <option value="BK">BK</option>
                                <option value="CH">CH</option>
                                <option value="KF">KF</option>
                                <option value="MT">MT</option>
                                <option value="PB">PB</option>
                                <option value="PH">PH</option>
                                <option value="SB">SB</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="nombreServidor" class="form-label">Código Tienda</label>
                            <input type="text" class="form-control" id="cod_tienda" placeholder="Ingrese el código de la tienda" maxlength="3">
                        </div>

                        <div class="mb-3">
                            <label for="nombreServidor" class="form-label">Tienda</label>
                            <input type="text" class="form-control" id="tienda" placeholder="Ingrese el nombre de la Tienda" maxlength="250">
                        </div>

                        <div class="mb-3">
                            <label for="nombreServidor" class="form-label">IP Servidor</label>
                            <input type="text" class="form-control" id="ip_servidor" placeholder="Ingrese la IP del Servisor" maxlength="20">
                        </div>

                        <div class="mb-3">
                            <label for="nombreServidor" class="form-label">Nombre del Servidor</label>
                            <input type="text" class="form-control" id="nom_servidor" placeholder="Ingrese el nombre del servidor" maxlength="50">
                        </div>

                        <div class="mb-3">
                            <label for="nombreServidor" class="form-label">Modelo de Equipo</label>
                            <input type="text" class="form-control" id="modelo" placeholder="Ingrese el Modelo de Equipo" maxlength="90">
                        </div>

                        <div class="mb-3">
                            <label for="nombreServidor" class="form-label">Serie</label>
                            <input type="text" class="form-control" id="serie" placeholder="Ingrese la serie del Equipo" maxlength="90">
                        </div>

                        <div class="mb-3">
                            <label for="nombreServidor" class="form-label">Version Micros</label>
                            <input type="text" class="form-control" id="version_micros" placeholder="Ingrese la vercion del Micros" maxlength="90">
                        </div>

                        <div class="mb-3">
                            <label for="nombreServidor" class="form-label">Memoria Ram</label>
                            <input type="text" class="form-control" id="memoria_ram" placeholder="Ingrese la memoria ram" maxlength="30">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" id="guardarButton" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Actualizar Datos -->

    <div class="modal fade" id="modalActualizar" tabindex="-1" role="dialog" aria-labelledby="modalActualizar" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="modalIngresarLabel">Ingresar Servidor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Aquí puedes agregar los campos o contenido del formulario para ingresar el servidor -->
                    <!-- Ejemplo: -->
                    <form>
                        <!-- Campos del formulario -->
                        <div class="mb-3">
                            <label for="cod_marca" class="form-label">Código de Marca</label>
                            <select class="form-control" id="cod_marca" name="cod_marca">
                                <option value="-">[Seleccione]</option>
                                <option value="BK">BK</option>
                                <option value="CH">CH</option>
                                <option value="KF">KF</option>
                                <option value="MT">MT</option>
                                <option value="PB">PB</option>
                                <option value="PH">PH</option>
                                <option value="SB">SB</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="nombreServidor" class="form-label">Código Tienda</label>
                            <input type="text" class="form-control" id="cod_tienda" placeholder="Ingrese el código de la tienda" maxlength="3">
                        </div>

                        <div class="mb-3">
                            <label for="nombreServidor" class="form-label">Tienda</label>
                            <input type="text" class="form-control" id="tienda" placeholder="Ingrese el nombre de la Tienda" maxlength="250">
                        </div>

                        <div class="mb-3">
                            <label for="nombreServidor" class="form-label">IP Servidor</label>
                            <input type="text" class="form-control" id="ip_servidor" placeholder="Ingrese la IP del Servisor" maxlength="20">
                        </div>

                        <div class="mb-3">
                            <label for="nombreServidor" class="form-label">Nombre del Servidor</label>
                            <input type="text" class="form-control" id="nom_servidor" placeholder="Ingrese el nombre del servidor" maxlength="50">
                        </div>

                        <div class="mb-3">
                            <label for="nombreServidor" class="form-label">Modelo de Equipo</label>
                            <input type="text" class="form-control" id="modelo" placeholder="Ingrese el Modelo de Equipo" maxlength="90">
                        </div>

                        <div class="mb-3">
                            <label for="nombreServidor" class="form-label">Serie</label>
                            <input type="text" class="form-control" id="serie" placeholder="Ingrese la serie del Equipo" maxlength="90">
                        </div>

                        <div class="mb-3">
                            <label for="nombreServidor" class="form-label">Version Micros</label>
                            <input type="text" class="form-control" id="version_micros" placeholder="Ingrese la vercion del Micros" maxlength="90">
                        </div>

                        <div class="mb-3">
                            <label for="nombreServidor" class="form-label">Memoria Ram</label>
                            <input type="text" class="form-control" id="memoria_ram" placeholder="Ingrese la memoria ram" maxlength="30">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" id="guardarButtonn" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Eliminar -->
    <div class="modal fade" id="confirmarEliminacion" tabindex="-1" aria-labelledby="confirmarEliminacionLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmarEliminacionLabel">Confirmar eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar este Servidor?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmarBtn">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Scrip Ediciones -->
    <script>
        $(document).ready(function() {
    // Maneja el evento clic del Boton Crear dentro del modal
    $('#modalIngresar').on('shown.bs.modal', function() {
        $('#guardarButton').off('click').on('click', function (event) {
            event.preventDefault();
            // Obtener los valores de los campos del formulario
            var cod_marca = $('#cod_marca').val();
            var cod_tienda = $('#cod_tienda').val();
            var tienda = $('#tienda').val();
            var ip_servidor = $('#ip_servidor').val();
            var nom_servidor = $('#nom_servidor').val();
            var modelo = $('#modelo').val();
            var serie = $('#serie').val();
            var version_micros = $('#version_micros').val();
            var memoria_ram = $('#memoria_ram').val();

            // Crear un objeto con los datos para enviar al servidor
            var datosKDS = {
                cod_marca: cod_marca,
                cod_tienda: cod_tienda,
                tienda: tienda,
                ip_servidor: ip_servidor,
                nom_servidor: nom_servidor,
                modelo: modelo,
                serie: serie,
                version_micros: version_micros,
                memoria_ram: memoria_ram
            };

            // Enviar los datos al servidor usando AJAX
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CrearServidor", "Servidor")',
                data: datosKDS,
                success: function(response) {
                    // Manejar la respuesta del servidor
                    console.log('Datos enviados correctamente');
                    // Mostrar mensaje de guardado exitoso
                    $('#mensajeGuardadoExitosoModal').show();
                    // Cerrar el modal después de 2 segundos (2000 milisegundos)
                    setTimeout(function () {
                        $('#mensajeGuardadoExitosoModal').hide(); // Ocultar mensaje
                        $('#modalIngresar').modal('hide'); // Cerrar el modal

                        setTimeout(function() {
                        window.location.href = '@Url.Action("ListadoServidor", "Servidor")';
                    }, 500);
                    }, 1000);
                },
                error: function(error) {
                    // Manejar los errores
                    console.error('Error al enviar datos', error);
                }
            });
        });
    });
});

    </script>
    <!-- Script Actualizar -->
    <script>
$(document).ready(function() {
    // Maneja el evento clic del Boton Crear dentro del modal
    $('#modalActualizar').on('shown.bs.modal', function() {
        $('#guardarButtonn').off('click').on('click', function (event) {
            event.preventDefault();
            // Obtener los valores de los campos del formulario
            var cod_marca = $('#cod_marca').val();
            var cod_tienda = $('#cod_tienda').val();
            var tienda = $('#tienda').val();
            var ip_servidor = $('#ip_servidor').val();
            var nom_servidor = $('#nom_servidor').val();
            var modelo = $('#modelo').val();
            var serie = $('#serie').val();
            var version_micros = $('#version_micros').val();
            var memoria_ram = $('#memoria_ram').val();

            // Crear un objeto con los datos para enviar al servidor
            var datosKDS = {
                cod_marca: cod_marca,
                cod_tienda: cod_tienda,
                tienda: tienda,
                ip_servidor: ip_servidor,
                nom_servidor: nom_servidor,
                modelo: modelo,
                serie: serie,
                version_micros: version_micros,
                memoria_ram: memoria_ram
            };

            // Enviar los datos al servidor usando AJAX
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Editar", "Servidor")',
                data: datosKDS,
                success: function(response) {
                    // Manejar la respuesta del servidor
                    console.log('Datos enviados correctamente');
                    // Mostrar mensaje de guardado exitoso
                    $('#mensajeGuardadoExitosoModal').show();
                    // Cerrar el modal después de 2 segundos (2000 milisegundos)
                    setTimeout(function () {
                        $('#mensajeGuardadoExitosoModal').hide(); // Ocultar mensaje
                        $('#modalIngresar').modal('hide'); // Cerrar el modal

                        setTimeout(function() {
                        window.location.href = '@Url.Action("ListadoServidor", "Servidor")';
                    }, 500);
                    }, 1000);
                },
                error: function(error) {
                    // Manejar los errores
                    console.error('Error al enviar datos', error);
                }
            });
        });
    });
});
    </script>
    <!-- Eliminar -->
    <script>
                $('.eliminar-servisor').on('click', function (e) {
    e.preventDefault();

    var servidorId = $(this).data('id');

    $('#confirmarBtn').attr('data-id', servidorId);

    $('#confirmarEliminacion').modal('show');
});

$('#confirmarBtn').on('click', function () {
    var servidorId = $(this).attr('data-id');

    $.ajax({
        url: '@Url.Action("Elimina", "Servidor")',
        type: 'POST',
        data: { id: servidorId },
        success: function (response) {
            window.location.reload();
        },
        error: function (xhr, status, error) {
            console.log(error);
        }
    });
});
    </script>



    <script src="~/Content/JS/Ejecucion_Boton.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
    <!-- DATATABLES -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
    </script>
    <!-- BOOTSTRAP -->
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
    </script>
    <script src="~/Content/JS/Paginacion_Servidor.js"></script>
    <!--  -->
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- DataTable -->
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <!-- Columnas Visibility -->
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>
    <!-- Reporte zip -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <!-- Reporte de PDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <!-- Reporte Excel -->
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <!-- Reporte Inpreso -->
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>
    <!--  -->
    <script src="~/Content/JS/Loaders.js"></script>
</body>
</html>